

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
html {
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
p {font-size: 1rem;
   }

   h1 {
       font-size:1.8rem;
   }

   img {
       margin: 5pt;
       border-color: gainsboro;
       border-radius: 50ex;
   }

   body {
       background-color: #ffffff;
       margin: 0px;
       padding: 5px;
   }

   /*...............SMALL CSS FILE..................*/

   /* grid rule */
   .row {clear: both;}
   .column {float: left;padding: 0 2vw; margin: 0 0 .75rem 0;}
   .small-12{width: 100%;}

   
   
   
   
   
   
   
   
   
   
   footer {
       background-color: #E3CD81FF;
       font-size:1.2rem;
    }
    
    footer h2 {
        font-style: italic;
        text-transform: uppercase;
        margin: 1rem 0 .3rem 0;
    }

    .fix:after {
        content: "";
        display: table;
        clear: both;
    }
   /*-------Dusky Citron (#E3CD81FF) and Cool Gray (#B1B3B3FF)-------*/